.title {
    font-weight: 300; /* Use a standard font-weight */
    font-style: oblique;
    font-size: 100px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 3rem 0;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.formSection {
    flex: 2;
    margin-right: 2.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
    border-right: 1px solid #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 3rem;
    position: relative;
}

.label {
    display: block;
    margin-bottom: 0.313rem;
    font-size: 16px;
    color: #888;
    transition: transform 0.3s ease, color 0.3s ease;
    position: absolute;
    top: 0.625rem;
    left: 0;
    pointer-events: none;
}

.input, .textarea {
    width: 100%;
    padding: 0.625rem 0;
    border: none;
    border-bottom: 1px solid #333;
    color: black;
    font-size: 20px;
    resize: none;
    background-color: transparent;
    transition: border-color 0.5s ease;
}

.input::placeholder, .textarea::placeholder {
    color: transparent;
}

.input:focus, .textarea:focus {
    outline: none;
    border-color: #555;
}

.input:focus + .label,
.textarea:focus + .label,
.input:not(:placeholder-shown) + .label,
.textarea:not(:placeholder-shown) + .label {
    transform: translateY(-20px);
    font-size: 16px;
    color: #555;
}

.input:focus::placeholder, .textarea:focus::placeholder {
    color: #999;
}

.button {
    width: 5rem;
    padding: 0.625rem 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
}

.successMessage, .errorMessage {
    margin-top: 20px;
    font-size: 16px;
}

.successMessage {
    color: green;
}

.errorMessage {
    color: red;
}

.contactInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 16px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contactInfo h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.contactItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contactItem strong {
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.contactItem p {
    margin: 0;
    color: #444;
    line-height: 1.5;
}

.socialLinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.socialLinks li a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.socialLinks li a:hover {
    color: #0077b5;
}